
services:
  app:
    build: .
    container_name: med-backend
    ports:
      - "9191:9191"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/med_db
    depends_on:
      - mongo
#    networks:
#      - med-network

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
#    networks:
#      - med-network

volumes:
  mongo-data:

#networks:
#  med-network:
#    external: true
